/* ESTE ES EL BODY DEL LOGIN */
body {
    margin: 0;
    padding: 0;
}
/* ESTE ES EL BODY DEL LOGIN */

/* -----------------CARD DEL LOGIN-------------------- */
#card_login {
    background-image: url("../img/economicos.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
    display: flex;
    width: 100%;
    min-height: 100vh;
}
#card_login .izquierdo {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#card_login .izquierdo #loginForm {
    width: 80%;
}
#card_login .izquierdo{
  opacity:0;
  transform: translateY(-40px);
  animation: slideCard 1s ease forwards;
}

@keyframes slideCard{
  from{
    opacity:0;
    transform: translateX(-40px);
  }
  to{
    opacity:1;
    transform: translateX(0);
  }
}
#card_login .derecho {
    width: 75%;
}
/* ========================= */
/* RESPONSIVE */
/* ========================= */
@media (max-width: 968px) {
  #card_login{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #card_login .izquierdo{
    width: 90%;
    max-width: 400px;

    background: rgba(0,0,0,0.75);
    border-radius: 10px;
    padding: 30px;
  }
  #card_login .derecho{
    display: none;
  }
  #card_login .izquierdo #loginForm{
    width:100%;
  }
}
/* -----------------CARD DEL LOGIN-------------------- */

/* Brillo metalico en componentes como botones que tengan esta clase */
.metal-shine {
  position: relative;
  overflow: hidden;
}
.metal-shine::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -75%;
  width: 90%;
  height: 18%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.733),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0.733),
    transparent
  );
  transform: rotate(25deg);
  animation: metalShine 7s linear infinite;
  pointer-events: none;
}
@keyframes metalShine {
  0%{
    left:-75%;
    opacity:1;
  }
  10%{
    left:130%;
    opacity:1;
  }
  100%{
    left:130%;
    opacity:0;
  }
}
/* Animacion para el loader de carga  */
.loader {
  width: 180px;
  height: 180px;
  position: relative;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/* Primer cuadrado */
.loader::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 50%;
  height: 90%;
  animation: slideDown 3s linear infinite;
  z-index: 1;
}
/* Segundo cuadrado */
.loader::after {
  content: "";
  position: absolute;
  top: -100%;
  right: 0;
  width: 70%;
  height: 90%;
  animation: slideDown 2s linear infinite 2s;
  z-index: 1;
}

/* Animación de movimiento */
@keyframes slideDown {
  0% {
    top: -100%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 100%;
  }
}

/* Texto de cargando */
.loading-text {
  margin-top: 15px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.contenedor_carga {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* ESTE ES EL BODY DEL INDEX DONDE ESTAN LOS ACCESOS */
html,
.body_index {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;

  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
/* evita que el contenido se oculte bajo el header */
.body_index {
  padding-top: 95px;
}

/* Header */
header nav{
  background: transparent;
  position:relative;
}
header nav .moon{
  font-size: 22px;
}
header nav .sun{
  font-size: 22px;
}
.theme-switch{
  display:flex;
  align-items:center;
  gap:10px;
}
/* ocultar sol por defecto */
.sun{
  display:none;
}
/* cuando está activado */
#switchCheckDefault:checked ~ .sun{
  display:inline-block;
}
#switchCheckDefault:checked ~ .moon{
  display:none;
}

/* LO QUE ESTA ADENTRO DEL MAIN */
#container {
  width: 90%;
  margin: 0 auto;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  margin-top: auto;
}

/* SIDEBAR */
.sidebar{
    position:fixed;
    left:0;
    top:0;
    bottom: 55px;
    width:70px;
    height:100%;
    transition:0.3s;
    overflow:hidden;
    z-index: 2000;
    animation: sidebarEntrada 0.6s ease-out;
}
/* animación */
@keyframes sidebarEntrada{
    from{
        transform: translateX(-100%);
        opacity:0;
    }
    to{
        transform: translateX(0);
        opacity:1;
    }
}
/* expandir */
.sidebar:hover{
    width:240px;
}
/* menu */
.menu{
    list-style:none;
    padding:0;
    margin:10px 0;
}

.menu li a{
    display:flex;
    align-items:center;
    gap:15px;
    padding:14px 20px;
    text-decoration:none;
    transition:0.2s;
    border-radius: 5px;
}
/* iconos */
.menu i,
.menu svg{
  font-size: 22px;
}

/* texto oculto */
.menu span{
    opacity:0;
    transition:0.3s;
}
.sidebar:hover .menu span{
    opacity:1;
}
.sidebar:hover .menu-title{
    opacity:1;
}
/* contenido */
.contenido{
    margin-left:70px;
    padding:40px;
}
.sidebar:hover ~ .contenido{
    margin-left:240px;
}

/* =========================
   BOTON HAMBURGUESA
========================= */
.hamburger{
    position:fixed;
    top:15px;
    left:15px;
    width:30px;
    height:22px;
    cursor:pointer;
    z-index:3000;
    display:none;

    flex-direction:column;
    justify-content:center;
    gap:6px; /* espacio entre líneas */
}
/* líneas */
.hamburger span{
    width:100%;
    height:3px;
    border-radius:3px;
    transition:0.3s ease;
}
/* animación a X */
.hamburger.active span:nth-child(1){
    transform:rotate(45deg) translate(6.4px,6.4px);
}
.hamburger.active span:nth-child(2){
    opacity:0;
}
.hamburger.active span:nth-child(3){
    transform:rotate(-45deg) translate(6.4px,-6.4px);
}
/* =========================
   RESPONSIVE
========================= */
@media (max-width:992px){
    /* mostrar boton */
    .hamburger{
        display:flex;
    }
    /* ocultar sidebar */
    .sidebar{
        left:-240px;
        width:240px;
    }
    /* cuando se abre */
    .sidebar.active{
        left:0;
    }
    /* mostrar textos siempre */
    .menu span{
        opacity:1;
    }
    /* contenido ocupa todo */
    .contenido{
        margin-left:0;
    }
}

/* ---------------ESTILO DE LOS CARD DE LOS SISTEMAS----------------- */
.card{
  max-width:450px;
  margin-left:10px;
  margin-right:10px;

  opacity:0;
  transform:translateX(-50px);

  animation: slideRight 1s ease forwards;
}

@keyframes slideRight{
  from{
    opacity:0;
    transform:translateX(-50px);
  }
  to{
    opacity:1;
    transform:translateX(0);
  }
}

.card img {
  width: 100%;
  max-height: 250px; /* Limita la altura de la imagen, pero permite que se reduzca */
  height: auto;
  object-fit: contain;
  display: block;
}

/*CONTENIDO INTERNO*/
.card .mt-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; /* Asegura que el contenido interno ocupe todo el ancho del card */
}

/* ---------ESTILO DEL FOLDER -----------*/
.card-folder {
  width: 93%; /* Ocupa todo el ancho de la ventana */
  max-width: 100vw; /* No se limita */
  background: transparent;

  /* centramos el folder */
  margin-left: 6rem;
  margin-right: auto;
  display: block;
}
.card-folder .card-body {
  border-radius: 3px;
}

/* ---------ESTILO DE LOS DATATABLES -----------*/
/* Alinear los controles de buscar y mostrar registros a la izquierda */
.dataTables_wrapper .dataTables_length {
  float: left;
}
/* Fondo de la tabla y ancho completo */
table thead tr th{
  border-radius: 3px;
  border-collapse: separate !important;
  border-spacing: 0;
}
/* solo se pintan los bordes de las columnas */
table tbody tr td{
  border-bottom: 0;
  vertical-align: middle;
}
/* Centrar la paginación debajo de la tabla */
.dataTables_wrapper .dataTables_paginate {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* Esto suaviza el cambio de color de fondo, texto y bordes cuando cargamos los estilos */
.tema-transicion,
.tema-transicion *,
.tema-transicion *:before,
.tema-transicion *:after {
    transition: background-color 1s ease, color 1s ease, border-color 1s ease !important;
}