<header>
    <nav class="navbar navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand p-0" href="#">
                <img src="../img/logoDependencia.png">
            </a>

            <div class="d-flex gap-4">
                <div class="text-white mt-2">
                    <i class="fa-solid fa-user"></i>
                    <span class="nombre-usuario">Nombre del usuario</span>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <i class="fa-solid fa-user"></i> <span class="nombre-usuario">Nombre del usuario</span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <hr class="ms-3 me-3">

                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/menu.html">
                                <i class="fa-solid fa-house-chimney"></i> Inicio
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/admin/index.html">
                                <i class="bi bi-house-gear-fill"></i> Administrador
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/logout.php">
                                <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i> Salir
                            </a>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
<script src="/apps/login/includes/js/auth_name.js"></script>