<!-- ESTILOS PERSONALIZADOS CSS-->
<link class="theme-link theme-dark" rel="stylesheet" href="/includes/css/dark.css">
<link class="theme-link theme-light" rel="stylesheet" href="/includes/css/light.css" disabled>
<link rel="stylesheet" href="/includes/css/componentes.css">

<header>
    <nav class="navbar navbar-dark fixed-top">
        <div class="container-fluid">
            <div class="d-flex justify-content-end mt-2 w-100">
                <div class="me-1">
                    <i class="fa-solid fa-user me-1"></i>
                    <span class="nombre-usuario">Nombre del usuario</span>
                </div>
                <div class="form-check form-switch theme-switch me-3">
                    <input class="form-check-input" type="checkbox" id="switchCheckDefault">
                    <i class="fas fa-moon moon"></i>
                    <i class="fas fa-sun sun"></i>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- CARGAR TEMAS LIGHT Y DARCK CON JS -->
<script src="/includes/js/cargar_temas.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
<script src="/app_login/includes/js/auth_name.js"></script>