<!-- Menu lateral, los estilos estan en login\includes\css\componentes.css -->
<div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="sidebar">
    <div class="logo text-center mt-2">
        <img src="/includes/img/Logo_RTP.png" width="55">
        <hr class="ms-2 me-2">
    </div>
    <ul class="menu">
        <li>
            <a href="/index.html">
                <i class="fa-solid fa-house-chimney"></i>
                <span>Inicio</span>
            </a>
        </li>

        <li>
            <a href="/admin/index.html">
                <i class="fa-solid fa-user-gear"></i>
                <span>Administrador</span>
            </a>
        </li>
        <li>
            <a class="nav-link" href="/auth/logout.php">
                <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>
                <span>Salir</span>
            </a>
        </li>
    </ul>
</div>