<!-- INICIO BARRA LATERAL DE MENÚ -->
<div class="flex-shrink-0 p-3 menu-compacto">
  <!-- INICIO LISTA DE OPCIONES  -->
  <ul class="list-unstyled ps-0 fs-5">
  
<li class="mb-1">
    <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light p-3"
      href="entrada_materiales.html">
      <i class="fa-solid fa-file-import me-2"></i>
      <span>ENTRADA MATERIALES</span>
    </a>
  </li>
  
  <li class="border-top my-2"></li>
  
  <li class="mb-1">
    <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light p-3"
      href="salida_materiales.html">
      <i class="fa-solid fa-truck-ramp-box me-2"></i>
      <span>SALIDA MATERIALES</span>
    </a>
  </li>
  
  <li class="border-top my-2"></li>

  <li class="mb-1">
    <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light p-3"
      href="inventario_materiales.html">
      <i class="fa-solid fa-boxes-stacked me-2"></i>
      <span>INVENTARIO MATERIALES</span>
    </a>
  </li>
  
  <li class="border-top my-2"></li>
</ul>

      <div class="collapse" id="nombre_apartado2">
        <ul class="btn-toggle-nav list-unstyled fw-semibold pb-1 small">
          <!-- Opcion del menu -->
         
            <a id="submenu" href="inventario_materiales.html"
           
            </a>
          </li>
          <!-- Opcion del menu -->
        </ul>
      </div>
    </li>
    <li class="border-top my-2"></li>

  
    <!-- <li class="border-top my-2"></li> -->

    <li class="nav-item mb-1">
      <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
        href="/app-swap/index.html">
        <div class="d-flex align-items-center gap-2">
          <i class="fas fa-undo-alt"></i>
          <span>Regresar Men&uacute; Principal</span>
        </div>
      </a>
    </li>
  </ul>
  <!-- FIN DE LISTA DE OPCIONES  -->
</div>
<!-- FIN BARRA LATERAL DE MENÚ -->