.card{
    background: #132c46;
    border-radius: 12px;
    color: white;
}

.card2{
    background: #d1d1d1;
    border-radius: 12px;
    color: rgb(0, 0, 0);
}
.card3{
    background: #0e1a2b;
    border-radius: 12px;
    color: rgb(255, 255, 255);
}
