body {
    margin: 0;
    background: #0e1a2b;
    font-family: Arial;
    color: white;
    padding-top: 71px; /* igual a la altura del header */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header.navbar {
  position: fixed !important;  /* fuerza que quede fijo */
  top: 0;
  left: 0;
  width: 100%;
  height: 71px;
  z-index: 1050; /* superior a modales y dropdowns */
  background: #132c46;
}
/* Definición de una sombra muy oscura y notoria en el header */
.shadow {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
}
@media (max-width: 991px) { /* Breakpoint lg */
    #responsiveHeaderContent {
        background: linear-gradient(rgba(23, 33, 47, 0.9));
        width: auto;
        padding: 20px;
        margin-top: 10px;
        border-radius: 10px;
    }

    /* Opcional: alinear texto y botones dentro del collapse */
    #responsiveHeaderContent.show .navbar-nav {
        align-items: flex-start;
    }
} 

footer {
    margin-top: auto;
}