<!-- INICIO BARRA LATERAL DE MENÚ -->
<div class="flex-shrink-0 p-3 menu-compacto">
    <!-- INICIO LISTA DE OPCIONES  -->
    <ul class="list-unstyled ps-0 fs-5">
        <li class="mb-1">
            <button
                class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                data-bs-toggle="collapse" data-bs-target="#nombre_apartado2" aria-expanded="false">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-user-tie"></i>
                    <span>Trabajadores</span>
                </div>
                <i class="fas fa-chevron-down ms-2"></i>
            </button>

            <div class="collapse" id="nombre_apartado2">
                <ul class="btn-toggle-nav list-unstyled fw-semibold pb-1 small">
                    <!-- Opcion del menu -->
                    <li class="pe-2">
                        <a id="submenu" href="nombre_del_html2.html"
                            class="link-dark rounded w-100 d-flex align-items-center gap-2 text-light py-2">
                            <i class="fas fa-users"></i>
                            Consulta de Trabajador
                        </a>
                    </li>
                    <li class="pe-2">
                        <a id="submenu" href="nombre_del_html2.html"
                            class="link-dark rounded w-100 d-flex align-items-center gap-2 text-light py-2">
                            <i class="fas fa-user-plus"></i>
                            Nuevo Trabajador
                        </a>
                    </li>
                    <li class="pe-2">
                        <a id="submenu" href="nombre_del_html2.html"
                            class="link-dark rounded w-100 d-flex align-items-center gap-2 text-light py-2">
                            <i class="fas fa-people-arrows"></i>
                            Movimientos
                        </a>
                    </li>
                    <!-- Opcion del menu -->
                </ul>
            </div>
        </li>
        <li class="border-top my-2"></li>

        <li class="nav-item mb-1">
            <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                href="/app-swap/index.html">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>Puestos</span>
                </div>
            </a>
        </li>
        <li class="border-top my-2"></li>
        <li class="nav-item mb-1">
            <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                href="/app-swap/index.html">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-check-circle"></i>
                    <span>Plazas Autorizadas</span>
                </div>
            </a>
        </li>
        <li class="border-top my-2"></li>

        <li class="mb-1">
            <button
                class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                data-bs-toggle="collapse" data-bs-target="#nombre_apartado2" aria-expanded="false">
                <div class="d-flex align-items-center gap-2">
                    <i class="fa-solid fa-file"></i>
                    <span>Adscripciones</span>
                </div>
                <i class="fas fa-chevron-down ms-2"></i>
            </button>

            <div class="collapse" id="nombre_apartado2">
                <ul class="btn-toggle-nav list-unstyled fw-semibold pb-1 small">
                    <!-- Opcion del menu -->
                    <li class="pe-2">
                        <a id="submenu" href="nombre_del_html2.html"
                            class="link-dark rounded w-100 d-flex align-items-center gap-2 text-light py-2">
                            <i class="fas fa-sitemap"></i>
                            Direcciones
                        </a>
                    </li>
                    <li class="pe-2">
                        <a id="submenu" href="nombre_del_html2.html"
                            class="link-dark rounded w-100 d-flex align-items-center gap-2 text-light py-2">
                            <i class="fas fa-sort-amount-down"></i>
                            Gerencias
                        </a>
                    </li>
                    <li class="pe-2">
                        <a id="submenu" href="nombre_del_html2.html"
                            class="link-dark rounded w-100 d-flex align-items-center gap-2 text-light py-2">
                            <i class="fas fa-building"></i>
                            Departamentos
                        </a>
                    </li>
                    <li class="pe-2">
                        <a id="submenu" href="nombre_del_html2.html"
                            class="link-dark rounded w-100 d-flex align-items-center gap-2 text-light py-2">
                            <i class="fas fa-chalkboard-teacher"></i>
                            Oficinas
                        </a>
                    </li>
                    <li class="pe-2">
                        <a id="submenu" href="nombre_del_html2.html"
                            class="link-dark rounded w-100 d-flex align-items-center gap-2 text-light py-2">
                            <i class="fas fa-hard-hat"></i>
                            Estructura
                        </a>
                    </li>
                    <!-- Opcion del menu -->
                </ul>
            </div>
        </li>
        <li class="border-top my-2"></li>
        </li>
        <li class="nav-item mb-1">
            <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                href="/app-swap/index.html">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-hard-hat"></i>
                    <span>Estructura</span>
                </div>
            </a>
        </li>
        <li class="border-top my-2"></li>
        <li class="nav-item mb-1">
            <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                href="/app-swap/index.html">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-car-crash"></i>
                    <span>Accidentes</span>
                </div>
            </a>
        </li>
        <li class="border-top my-2"></li>
        <li class="nav-item mb-1">
            <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                href="/app-swap/index.html">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-map-marked-alt"></i>
                    <span>Codigos Postales</span>
                </div>
            </a>
        </li>
        <li class="border-top my-2"></li>
        <li class="nav-item mb-1">
            <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                href="/app-swap/index.html">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-file-invoice-dollar"></i>
                    <span>Conceptos Nomina</span>
                </div>
            </a>
        </li>
        <li class="border-top my-2"></li>
        <li class="nav-item mb-1">
            <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                href="/app-swap/index.html">
                <div class="d-flex align-items-center gap-2">
                    <i class="far fa-calendar-alt"></i>
                    <span>Periodos</span>
                </div>
            </a>
        </li>
        <li class="border-top my-2"></li>

        <li class="mb-1">
            <button
                class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                data-bs-toggle="collapse" data-bs-target="#mas_opciones" aria-expanded="false">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-exclamation-circle"></i>
                    <span>Incidencias</span>
                </div>
                <i class="fas fa-chevron-down"></i>
            </button>
            <div class="collapse" id="mas_opciones">
                <ul class="btn-toggle-nav list-unstyled fw-semibold pb-1 small">
                    <li class="pe-2">
                        <a href="#" class="link-dark rounded w-100 d-flex align-items-center gap-2 text-light py-2"
                            id="">
                            <i class="fas fa-user"></i>
                            Conceptos
                        </a>
                    </li>
                    <li class="pe-2">
                        <a href="#"
                            class="link-dark rounded w-100 d-flex align-items-center gap-2 text-light py-2 justify-content-between"
                            data-bs-toggle="collapse" data-bs-target="#otras_opciones" aria-expanded="false">
                            <div class="d-flex align-items-center gap-2">
                                <i class="fas fa-search"></i>
                                Consultas
                            </div>
                        </a>
                    </li>
                    <li class="pe-2">
                        <a href="#"
                            class="link-dark rounded w-100 d-flex align-items-center gap-2 text-light py-2 justify-content-between"
                            data-bs-toggle="collapse" data-bs-target="#otras_opciones" aria-expanded="false">
                            <div class="d-flex align-items-center gap-2">
                                <i class="fas fa-blind"></i>
                                Incapacidades
                            </div>
                        </a>
                    </li>


                </ul>
            </div>
        </li>

        <li class="border-top my-2"></li>


        <li class="nav-item mb-1">
            <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                href="/app-swap/index.html">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-file-export"></i>
                    <span>Exportar Info</span>
                </div>
            </a>
        </li>
        </li>


        <li class="border-top my-2"></li>


        <li class="mb-1">
            <button
                class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                data-bs-toggle="collapse" data-bs-target="#mas_opciones" aria-expanded="false">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-sim-card"></i>
                    <span> Tarjeta Calypso</span>
                </div>
                <i class="fas fa-chevron-down"></i>
            </button>
            <div class="collapse" id="mas_opciones">
                <ul class="btn-toggle-nav list-unstyled fw-semibold pb-1 small">
                    <li class="pe-2">
                        <a href="#" class="link-dark rounded w-100 d-flex align-items-center gap-2 text-light py-2"
                            id="">
                            <i class="fas fa-upload"></i>
                            Captura
                        </a>
                    </li>
                    <li class="pe-2">
                        <a href="#"
                            class="link-dark rounded w-100 d-flex align-items-center gap-2 text-light py-2 justify-content-between"
                            data-bs-toggle="collapse" data-bs-target="#otras_opciones" aria-expanded="false">
                            <div class="d-flex align-items-center gap-2">
                                <i class="far fa-clipboard"></i>
                                Reportes General
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="border-top my-2"></li>


        <li class="nav-item mb-1">
            <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                href="/app-swap/index.html">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-id-card-alt"></i>
                    <span>Credenciales</span>
                </div>
            </a>
        </li>



        <li class="border-top my-2"></li>






        <li class="mb-1">
            <button
                class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                data-bs-toggle="collapse" data-bs-target="#mas_opciones" aria-expanded="false">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-university"></i>
                    <span> Datos Fiscales</span>
                </div>
                <i class="fas fa-chevron-down"></i>
            </button>
            <div class="collapse" id="mas_opciones">
                <ul class="btn-toggle-nav list-unstyled fw-semibold pb-1 small">
                    <li class="pe-2">
                        <a href="#" class="link-dark rounded w-100 d-flex align-items-center gap-2 text-light py-2"
                            id="">
                            <i class="fas fa-th-list"></i>
                            Listado
                        </a>
                    </li>
                    <li class="pe-2">
                        <a href="#"
                            class="link-dark rounded w-100 d-flex align-items-center gap-2 text-light py-2 justify-content-between"
                            data-bs-toggle="collapse" data-bs-target="#otras_opciones" aria-expanded="false">
                            <div class="d-flex align-items-center gap-2">
                                <i class="fas fa-clipboard-list"></i>
                                Listado General
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </li>


        <li class="border-top my-2"></li>


        <li class="nav-item mb-1">
            <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                href="/app-swap/index.html">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-file-contract"></i>
                    <span>Generacion de Contratos</span>
                </div>
            </a>
        </li>

        <li class="border-top my-2"></li>


        <li class="nav-item mb-1">
            <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                href="/app-swap/index.html">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-user-friends"></i>
                    <span>Carga Masiva Empleados</span>
                </div>
            </a>
        </li>



        <li class="border-top my-2"></li>

        <li class="nav-item mb-1">
            <a class="btn btn-toggle align-items-center rounded collapsed w-100 text-light justify-content-between p-3"
                href="/app-swap/index.html">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-undo-alt"></i>
                    <span>Regresar Men&uacute; Principal</span>
                </div>
            </a>
        </li>
    </ul>
    <!-- FIN DE LISTA DE OPCIONES  -->
</div>
<!-- FIN BARRA LATERAL DE MENÚ -->